* {
  box-sizing: border-box;
}
:root {
  --start-row: 1;
  --start-col: 1;
}
body {
  height: 100vh;
  margin: 0px;
  padding: 10px;
}
.grid .slick-track > div {
  background-color: #00ff00;
  color: #000;
  height: 200px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid .slick-track > div:nth-child(even) {
  background-color: #f00000;
  color: #fff;
}

@media (min-width: 600px) {
  .grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .grid > div:nth-child(7n + 1),
  .grid > div:nth-child(7n + 4),
  .grid > div:nth-child(7n + 6) {
    grid-row: span 2;
  }
  .grid > div:nth-child(7n + 2),
  .grid > div:nth-child(7n + 3),
  .grid > div:nth-child(7n + 7),
  .grid > div:nth-child(7n + 4) {
    grid-column: span 2;
  }
  .grid > div:nth-child(7n + 1) {
    min-height: 600px;
  }
  .grid > div:nth-child(7n + 2),
  .grid > div:nth-child(7n + 3) {
    min-height: 292px;
  }
  .grid > div:nth-child(7n + 4),
  .grid > div:nth-child(7n + 7) {
    min-height: 277px;
  }
  .grid > div:nth-child(7n + 5) {
    min-height: 135px;
  }
  .grid > div:nth-child(7n + 6) {
    min-height: 418px;
  }

  .grid > div {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }
}
